
@keyframes borderColor {
  from { border-color: rgba(220,220,220,0); }
  to   { border-color: rgba(220,220,220,0.9); }
}


.logo {
  @apply flex justify-center items-center gap-3 p-6  ;

  span {
    @apply text-primary text-2xl font-light;
  }

  .icon {
    @apply text-neutral-100 bg-primary/90 size-10 rounded-full p-2 border-4 dark:border-primary;
    animation: borderColor 1s infinite alternate;
  }
}
