.page.login-page {
  @apply flex flex-col items-center justify-center bg-black;

  .kurd-line {
    @apply fixed top-0 bottom-0 w-12 left-32 bg-cover z-0;
    background-image: url('./line.png');
    background-size: 60px;
    background-position: center;
  }

  .content {
    @apply flex max-w-3xl bg-white rounded-lg shadow-xl divide-x overflow-clip z-50;

    .illustration {
      @apply w-full px-12 text-primary;
    }
    .login-form {
      @apply flex flex-col w-full gap-2 px-12 h-full justify-center  bg-neutral-100;
      input {
        @apply p-3 border-2 border-primary;
      }

      a {
        @apply hover:underline text-gray-800 hover:text-primary;
      }
      p.register {
        @apply text-sm;
        a {
          @apply underline;
        }
      }
      button {
        @apply mt-3;
      }
    }
  }
}
